process {
    cpus   = { check_max( 1,    'cpus'   ) }
    memory = { check_max( 6.GB, 'memory' ) }
    time   = { check_max( 4.h,  'time'   ) }
    withLabel:process_high {
        cpus   = { check_max( 12,    'cpus'    ) }
        memory = { check_max( 72.GB, 'memory'  ) }
        time   = { check_max( 16.h,  'time'    ) }
    }
}