process {
    withName: COMPRESS {
        publishDir = [
        path: { "${params.outdir}/compressed" },
        mode: params.publish_dir_mode
    ]
    }

    withName: COMBTXTPREFIX {
        publishDir = [
        path: { "${params.outdir}/merge" },
        mode: params.publish_dir_mode
    ]
    }
    withName: COMBTXTTUPLE {
        publishDir = [
        path: { "${params.outdir}/merge_tuple" },
        mode: params.publish_dir_mode
    ]
    }
}